<h1>Contribute your Ideas</h1>

<%= write_idea_action @idea %>

<div class="divider"></div>

<div class="section">
  <%= render(@ideas) || "There are no ideas to show. Why don't you add one to get started?" %>
</div>
