<div class="row">
  <div class="col s12">

    <h1>About</h1>

    <p>
      <strong>Naropa University's Strategic Planning Process</strong> is a community-wide initiative to generate and distill meaningful and impactful ideas for long-range planning for the community.
      This initiative is a process for collaborative engagement and will help to steer the university’s goals over the next five calendar years.
      Community involvement by students, faculty, and staff is a key component to this initiative,
      so we encourage you to attend to find out more about the process and how you can be a part of it.
    </p>

    <p>
      It seems most appropriate that we are launching this initiative in the Fire Monkey year.
      As you might recall from our New Year’s celebration last year, the Fire Monkey year is a time for “quantum leaping, enthusiasm and energy.
      Time to shake things up, create change, and forge a new path.
      Risks are rewarded and ambitious plans can succeed.”
      Please join us as we launch this initiative of the Fire Monkey!
    </p>

  </div>
</div>
