<div class="row">
  <div class="col s12">

    <h1>Latest News</h1>

    <div class="row idea-wrapper">
      <div class="col l12 m12 s12">

      <div class="idea z-depth-1">
        <div class="author_image z-depth-1 grey">
          <%= image_tag "naropa_square.jpg" %>
        </div>

        <div class="author_name z-depth-1 indigo white-text">
          Naropa University
        </div>

        <div class="content">
          <p>Write some text here...</p>
        </div>

        <div class="actions row no_margin_bottom">

          <%# TIMESTAMP %>
          <div class="col s12 m6 offset-m6 right-align">
            <div class="fake_button">1 day ago</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row idea-wrapper">
    <div class="col l12 m12 s12">

    <div class="idea z-depth-1">
      <div class="author_image z-depth-1 grey">
        <%= image_tag "naropa_square.jpg" %>
      </div>

      <div class="author_name z-depth-1 indigo white-text">
        Naropa University
      </div>

      <div class="content">
        <p>Write some text here...</p>
      </div>

      <div class="actions row no_margin_bottom">

        <%# TIMESTAMP %>
        <div class="col s12 m6 offset-m6 right-align">
          <div class="fake_button">1 week ago</div>
        </div>
      </div>
    </div>

  </div>
</div>

  </div>
</div>
